In [1]:
import sqlite3, pandas as pd

In [3]:
con = sqlite3.connect("../data/ai_watch.db")

In [4]:
# Example: top 10 influencers by follower count
df = pd.read_sql_query("""
    SELECT name, twitter_username, nb_twitter_followers
    FROM influencers
    ORDER BY nb_twitter_followers DESC
    LIMIT 10
""", con)

print(df)

              name twitter_username  nb_twitter_followers
0      Lex Fridman      @lexfridman               4200000
1       Sam Altman            @sama               3100000
2       Kai-Fu Lee        @kaifulee               1500000
3     John Carmack   @ID_AA_Carmack               1100000
4        Andrew Ng       @AndrewYNg               1100000
5  Andrej Karpathy        @karpathy               1000000
6       Yann LeCun          @ylecun                804000
7     Sean Gardner   @2morrowknight                730400
8     Rowan Cheung     @rowancheung                524500
9    Robert Scoble      @Scobleizer                509300